<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout.html">
<div layout:fragment="content">
  <div class="store" th:if="${isStoreEnabled}">
    <h1 class="f1">Store</h1>
    <div class="bg-near-white ph3 pv1">
      <p class="sans-serif lh-copy measure">Back to Home</p>
      <div>
        <a href="/"
           class="f4 link br1 ba bw2 ph3 pv2 mb2 dib near-black b--near-black b hover-bg-near-black hover-white">Back to Home</a>
      </div>
    </div>
    <div class="pv4">
      <div class="" pv4>
        <tr th:if="${orderEntities.empty}">
          <td colspan="2"> No Pending Orders</td>
        </tr>
        <div th:each="orderEntity : ${orderEntities}">
          <tr>
            <td th:text="${orderEntity.orderNumber}">Order Number</td>
          </tr>
          <tr>
            <td th:text="${orderEntity.status}">Status:</td>
          </tr>
          <tr>
            <td th:text="${orderEntity.total}">Total :</td>
          </tr>
          <tr>
            <td th:text="${orderEntity.quantity}">Quantity:</td>
          </tr>
          </td>
          </tr>
        </div>
      </div>
      <form th:action="@{/payment}" th:object="${selectedProduct}" method="post">
        <input type="hidden" name="payed" th:value="Y">
        <input type="hidden" name="orderNumber" th:value="${selectedProduct.getOrderNumber()}"/>
        <button
            class="f4 link br1 ba bw2 ph3 pv2 mb2 dib near-black b--near-black b hover-bg-near-black hover-white">
          Make a Payment
        </button>
      </form>
    </div>
  </div>

</div>
</div>
</html>
