<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout.html">
<div layout:fragment="content">
  <h1 class="f1">Congratulations!</h1>
  <div class="bg-near-white ph3 pv1 mb4">
    <p class="sans-serif lh-copy measure">You bought <span th:text="${sku.quantity}"></span> items.</p>
  </div>
  <a href="/" class="f4 link br1 ba bw2 ph3 pv2 mb2 dib near-black b--near-black b hover-bg-near-black hover-white">Back to Home</a>
</div>
</html>
